{% extends '/templates/app.twig' %}

{% block title %} Login - {% endblock %}

{% block content %}
    <style>
        .msg {
            max-width: 400px;
        }
    </style>

    <div class="msg m-auto bg-mywhite rounded p-3 text-center">
        <h3 class="text-center">Сообщение отправлено</h3>
        <p>Проверьте пожалуйста свой свой имейл</p>
    </div>
{% endblock %}