{% extends '/templates/app.twig' %}

{% block title %} Login - {% endblock %}

{% block content %}
    <div class="my-3 mx-auto p-0" style="max-width: 320px; /*min-height: 75vh;*/">
        <h3 class="text-center">Введите новый пароль</h3>
        <form action="" class="p-2 rounded bg-mywhite" method="post" id="new_password_form">
            {#action="{{ path_for('new_password') }}"#}
            <div class="form-group mb-2">
                <input type="password" class="form-control" name="password" placeholder="New password" required>
            </div>
            <div class="form-group mb-2">
                <input type="password" class="form-control" name="password_confirmation" placeholder="Confirm new password" required>
            </div>
            <div class="form-group m-0">
                <button type="submit" class="btn btn-outline-primary w-100">Update Password</button>
            </div>

            <div id="st_msg"></div>

        </form>
    </div>
{% endblock %}

{% block scripts %}
    <script>
        {#(function() {#}
            {#$("#new_password_form").submit(function (e) {#}

                {#$.ajax({#}
                    {#type: "POST",#}
                    {#url: "{{ path_for('restore') }}",#}
                    {#data: {email: email},#}
                    {#dataType: "json",#}
                    {#success: function(data){#}
                        {#if (data.st) {#}
                            {#$("#st_msg").attr('class', "alert alert-danger m-0 mt-2 p-2").text(data.msg);#}
                        {#} else {#}
                            {#$("#st_msg").attr('class', "alert alert-success m-0 mt-2 p-2").text(data.msg);#}
                            {#setTimeout(function(){#}
                                {#window.location.replace("{{ path_for('auth.signin') }}")#}
                            {#}, 2000);#}
                        {#}#}
                        {#console.log(data);#}
                    {#},#}
                    {#failure: function(errMsg) {#}
                        {#console.log(errMsg);#}
                    {#}#}
                {#});#}

                {#e.preventDefault();#}
            {#});#}
        {#})();#}
    </script>
{% endblock %}