{% extends 'templates/app.twig' %}

{% block title %}Page not found!{% endblock %}

{% block content %}
    <div class="w-100 text-center pt-4">
        <h1>Error 404!</h1>
        <h2>Page not found!</h2>
    </div>
{% endblock %}