<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.2/css/bootstrap.min.css" integrity="sha384-Smlep5jCw/wG7hdkwQ/Z5nLIefveQRIY9nfy6xoR1uRYBtpZgI6339F5dgvm/e9B" crossorigin="anonymous">
    <link rel="stylesheet" href="/css/jquery-ui.min.css">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.css" type="text/css" rel="stylesheet">

    <title>{% block title %}{% endblock %}MATHCA</title>

    <style>
        body {
            margin-bottom: 2rem;
            background: url('{{ path_for('home') }}img/bg2.jpg') center center fixed no-repeat;
            background-size: cover;
        }

        body *::-webkit-scrollbar {
            width: 0.5rem;
        }

        body *::-webkit-scrollbar-track {
            /*-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);*/
            border: 1px solid rgba(0, 0, 0, 0.25);
            border-radius: 8px;
            background: rgba(200, 200, 200, 0.5);
        }

        body *::-webkit-scrollbar-thumb {
            background-color: rgba(0, 0, 0, 0.5);
            outline: 1px solid slategrey;
            border-radius: 8px;
        }

        a { color: #333; }
        a:hover { color: #333; text-decoration: none; }

        .mix:hover .card {
            border-color: rgba(0, 0, 0, .35);
            /*box-shadow: 2px 2px 10px rgba(0,0,0,.5);*/
            box-shadow: 0px 0px 0px 4px rgba(0,0,0,.25);
        }

        .bg-mywhite {
            background-color: rgba(255, 255, 255, 0.5);
        }

        #header_menu {
            background: rgba(0, 0, 0, 0.25);
            /*background: #512e56;*/
            /*background: -moz-linear-gradient(-45deg, #512e56 0%, #e79ca1 54%, #663a5e 100%);*/
            /*background: -webkit-linear-gradient(-45deg, #512e56 0%,#e79ca1 54%,#663a5e 100%);*/
            /*background: linear-gradient(135deg, #512e56 0%,#e79ca1 54%,#663a5e 100%);*/
            /*filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#512e56', endColorstr='#663a5e',GradientType=1 );*/
        }
    </style>
</head>
<body>
<header>
    {% include 'templates/partials/navigation.twig' %}
    {% if auth.check %} {% include 'templates/partials/additional_nav.twig' %} {% endif %}
</header>

<main class="container-fluid m-0 p-0" id="cont">
    <div class="container p-2">
        {% block content %}{% endblock %}
    </div>
</main>

<footer class="text-white p-1 bg-dark fixed-bottom" style="z-index: 999">
    {% include 'templates/partials/footer.twig' %}
</footer>


<div id="notifs" style="position: fixed; top: 1.5em; right: 1em; max-width: 320px; z-index: 999;"></div>


<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js" integrity="sha384-smHYKdLADwkXOn1EmN1qk/HfnUcbVRZyYmZ4qpPea6sjB/pTJ0euyQp0Mk8ck+5T" crossorigin="anonymous"></script>

<script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
<script src="/js/jquery-ui.min.js"></script>

{% if auth.check %}
<script>
    var notif = $("#new_notif");
    notif.hide();
    $(document).ready(function () {
        $.ajax({
            type: "POST",
            url: "{{ path_for('getntf') }}",
            dataType: "json",
            success: function(data){
                if (data > 0) {
                    notif.text(data);
                    notif.show();
                }
            },
            failure: function(errMsg) {} // console.log(errMsg); }
        });
    });
</script>
{% endif %}

{% block scripts %}{% endblock %}

</body>
</html>
